@import "~antd/dist/antd.css";

.header {
  background-color: white;
  box-shadow: 1px 1px 10px 1px #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-bottom: 4em;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header_logo {
  color: #1890ff;
  font-weight: 500;
  cursor: pointer;
}

.header_write-btn {
  border: 0;
}

.showAlert {
  display: flex;
}

.hideAlert {
  display: none;
}
