@import "~antd/dist/antd.css";

.header {
  background-color: white;
  box-shadow: 1px 5px 15px 3px #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-bottom: 4em;
}

.header_logo {
  color: #1890ff;
  font-weight: 500;
  cursor: pointer;
}

.header_write-btn {
  border: 0;
}

.showAlert {
  display: flex;
}

.hideAlert {
  display: none;
}
